:root {
    --keydown: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

#background-container {
    overflow: hidden;
    width: 100vw;
}  


.background-layer {
    position: fixed;
    left: var('--keydown');
    top: 0;
    height: 80vh;
}

 